/* 스타일 리셋 */
@import "reset.css";
/* 커스텀 디자인 */
:root {
  /* color */
  --color-white: #fff;
  --color-violet: #5b2386;
  --color-yellow: #f5df4d;
  --color-grey: #babcbe;
  /* font-size */
  --font-size-large: 48px;
  --font-size-medium-large: 36px;
  --font-size-medium: 24px;
  --font-size-small: 18px;
  --font-size-micro: 12px;
  /* margin */
  --margin-size-large: 80px;
  --margin-size-medium-large: 36px;
  --margin-size-medium: 22px;
  --margin-size-small: 18px;
  --margin-size-micro: 14px;
  /* padding */
  --padding-size-large: 80px;
  --padding-size-medium-large: 36px;
  --padding-size-medium: 22px;
  --padding-size-small: 18px;
  --padding-size-micro: 14px;
  /* font-style */
  --main-font: "GmarketSansMedium";
  /* animation */
  --animation-duration: 300ms;
}
/* 폰트 (4종류) */

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

button,
input {
  border: none;
  border-radius: 8px;
  outline: none;
  padding: calc(var(--padding-size-small)) var(--padding-size-micro);
  cursor: pointer;
  margin-left: calc(var(--margin-size-small));
}

button {
  background-color: var(--color-yellow);
  color: var(--color-violet);
  transition: var(--animation-duration) opacity;
}

button:hover {
  opacity: 0.77;
}

.hidden {
  display: none;
}
/* 메인 박스 + 배경화면 */
#main_container {
  position: relative;
  font-family: var(--main-font);
  color: #fff;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 시계 - 날씨 */
.clockWeather {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: var(--margin-size-medium-large);
}

.clockWeather > * {
  font-size: var(--font-size-medium);
  color: var(--color-yellow);
  font-weight: 700;
  opacity: 0.77;
  margin: 0 12px;
  text-align: center;
}

#weather_container p {
  margin-bottom: 1rem;
}
/* 로그인 */
#login_container {
  margin: 2rem 0;
}

#login_input,
#login_button {
  font-size: var(--font-size-medium);
}

#greeting {
  font-size: var(--font-size-large);
  color: var(--color-yellow);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  font-weight: 700;
  padding: var(--padding-size-small) var(--padding-size-medium);
  backdrop-filter: blur(10px);
}

/* 명언 */
#quotes_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: var(--margin-size-medium-large) 10rem;
}

.quotes_quote {
  margin-bottom: var(--margin-size-small);
  font-size: var(--font-size-medium);
  color: var(--color-white);
}

.quotes_author {
  color: var(--color-yellow);
}

/* 투두리스트 */
#todo_container {
  margin: var(--margin-size-medium-large) 0;
}

.todo_form {
  margin-bottom: var(--margin-size-medium-large);
}

#todo_input,
#todo_button {
  font-size: var(--font-size-medium);
}

#list_container {
  max-height: 240px;
  overflow-y: scroll;
}

#list_container li {
  background-color: var(--color-white);
  color: var(--color-violet);
  padding: calc(var(--padding-size-small) / 2) var(--padding-size-micro);
  margin: calc(var(--margin-size-small) / 2) var(--margin-size-micro);
  border-radius: 8px;

  line-height: 1.5;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* 글래스모피즘 */
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@media screen and (max-width: 413px) {
  :root {
    /* font-size */
    --font-size-large: 36px;
    --font-size-medium-large: 24px;
    --font-size-medium: 18px;
    --font-size-small: 14px;
    --font-size-micro: 10px;
    /* margin */
    --margin-size-large: 40px;
    --margin-size-medium-large: 18px;
    --margin-size-medium: 11px;
    --margin-size-small: 9px;
    --margin-size-micro: 7px;
    /* padding */
    --padding-size-large: 40px;
    --padding-size-medium-large: 18px;
    --padding-size-medium: 11px;
    --padding-size-small: 9px;
    --padding-size-micro: 7px;
  }

  .clockWeather > * {
    font-size: var(--font-size-medium);
  }
  #quotes_container {
    margin: var(--margin-size-medium-large) var(--margin-size-large);
  }
  #list_container {
    max-height: 560px;
  }
}
